body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;;
}

.clusterDiv {
  margin: 10px auto;
  border: 1px solid #bebebe;
  background-color: #efefef;
}

#wrapper {
  margin: 10px auto;
}

#wrapper p {
  margin: 20px;
}

#links {
  margin: 15px;
}
#links a{
  margin: 5px;
}
div {
  max-width: 870px;
}
div h1 {
  color: #111;
  margin: 20px;
}

.stockName {
  font-family: monospace;
  font-size: 14pt;
  width: 250px;
  display: block;
  margin: 0 auto;
}

.stockGraph {
  display: inline-block;
  width: 250px;
  background-color: #fff;
  margin: 10px;
}

.stockSpan {
  margin: 10px;
  display: inline-block;
  width: 270px;
  transition: background-color 0.5s ease;
  border-radius: 15px;
}

.stockSpan:hover {
  background-color: #fff;

}
